@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "GF_layout.cshtml";
}

<!-- REVOLUTION SLIDER -->
<div id="rev_slider_5_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
    <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
    <div id="rev_slider_5_2" class="rev_slider fullwidthabanner rev_slider_5_2_height" data-version="5.4.8.1">
        <ul>
            <li data-index="rs-3" data-transition="curtain-3" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://via.placeholder.com/1920X785/666666.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="https://via.placeholder.com/1920X785/666666.jpg" alt="" title="Home 2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                <div class="tp-caption tp-shape tp-shapewrapper light-shape tp-resizeme" id="slide-3-layer-2"
                     data-x="['center','center','center','center']" data-hoffset="['-154','-154','-154','563']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-66','-66','-94','-126']"
                     data-width="99"
                     data-height="1"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-responsive_offset="on"
                     data-frames='[{"delay":190,"speed":200,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"> </div>

                <div class="tp-caption tp-resizeme ttm-textcolor-skincolor" id="slide-3-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','427']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-94','26']"
                     data-fontsize="['15','15','15','12']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":260,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    A Fine Dining Restaurant
                </div>

                <div class="tp-caption tp-shape tp-shapewrapper light-shape tp-resizeme" id="slide-3-layer-4"
                     data-x="['center','center','center','center']" data-hoffset="['151','151','151','384']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-66','-66','-94','-105']"
                     data-width="99"
                     data-height="1"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-responsive_offset="on"
                     data-frames='[{"delay":380,"speed":200,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"> </div>

                <div class="tp-caption tp-resizeme slide-main-text" id="slide-3-layer-5"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['18','18','-22','-66']"
                     data-fontsize="['70','70','70','50']"
                     data-lineheight="['90','90','100','60']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":250,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Foods The
                </div>

                <div class="tp-caption tp-resizeme slide-main-text" id="slide-3-layer-6" data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" data-y="['middle','middle','middle','middle']" data-voffset="['95','95','49','-6']"
                     data-fontsize="['70','70','70','50']"
                     data-lineheight="['90','90','100','60']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":360,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Most Precious Things
                </div>
            </li>

            <li data-index="rs-4" data-transition="curtain-3" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://via.placeholder.com/1920X785/666666.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="https://via.placeholder.com/1920X785/666666.jpg" alt="" title="mainsliderbg-007" width="1920" height="785" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                <div class="tp-caption tp-shape tp-shapewrapper light-shape tp-resizeme" id="slide-4-layer-2" data-x="['center','center','center','center']" data-hoffset="['-102','-102','-98','563']" data-y="['middle','middle','middle','middle']" data-voffset="['-69','-69','-94','-126']"
                     data-width="['43','43','43','99']"
                     data-height="1"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-responsive_offset="on"
                     data-frames='[{"delay":190,"speed":200,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"> </div>

                <div class="tp-caption tp-resizeme ttm-textcolor-skincolor" id="slide-4-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','427']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-69','-69','-94','26']"
                     data-fontsize="['15','15','15','12']"
                     data-fontweight="['500','500','500','400']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":260,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    FRESH AND TASTY
                </div>

                <div class="tp-caption tp-shape tp-shapewrapper light-shape tp-resizeme" id="slide-4-layer-4"
                     data-x="['center','center','center','center']" data-hoffset="['100','100','98','384']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-69','-69','-94','-105']"
                     data-width="['43','43','43','99']"
                     data-height="1"
                     data-whitespace="nowrap"
                     data-visibility="['on','on','on','off']"
                     data-type="shape"
                     data-responsive_offset="on"
                     data-frames='[{"delay":380,"speed":200,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"> </div>

                <div class="tp-caption tp-resizeme slide-main-text" id="slide-4-layer-5"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['8','8','-22','-66']"
                     data-fontsize="['70','70','70','50']"
                     data-lineheight="['90','90','100','60']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":250,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Banner 文字
                </div>

                <div class="tp-caption tp-resizeme slide-main-text" id="slide-4-layer-6" data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','49','-6']"
                     data-fontsize="['68','68','70','50']"
                     data-lineheight="['90','90','100','60']"
                     data-fontweight="['400','400','400','400']"
                     data-color="['rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)','rgb(240, 244, 247)']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":360,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]">
                    Healty Food Restaurant
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->
<!--site-main start-->
<div class="site-main">

    <!--about-section-->
    <section class="ttm-row about-section bg-img6 clearfix">
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-lg-8 col-sm-12">
                    <div class="pr-55 res-1199-pr-0">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>WANNA EAT CO.,LTD</h5>
                                <h2 class="title">好饗初美味食品工廠</h2>
                            </div>
                        </div><!-- section title end -->
                        <!--<h4>《不忘初心&ensp;方得始終》</h4>-->
                        <h4>《奶酥醬＆法式糕點研發專家》</h4>
                        <p class="lh-lg">
                            <h5>
                                好饗初研發與生產的奶酥醬種類，至今已高達上百種專屬獨特風味。

                                <br /><br />
                                原物料決定奶酥醬的風味與品質，好饗初秉持純天然、無添加的理念，創先市場，嚴選世界各國優質高成本的天然原物料，
                                光挑選「奶油」，即耗費近半年，測試數十種天然奶油。

                                <br /><br />
                                經過不斷測試，透過繁瑣嚴謹的研發與生產製程，好饗初控管各種不同食材交融的時機與狀態，逐漸平衡味道與口感，有效屏除一般市面上他牌奶酥醬的油膩感，精準掌握奶酥醬入口滑順與清爽口感。

                                <br /><br />
                                堅定選用純天然食材的理念，持續精進與研發食品相關技術，不斷翻新傳統奶酥醬的美味與口感。
                                每一口天然清爽的奶酥醬，一定感受得到好饗初的用心。

                                <br /><br />
                                除了奶酥醬，好饗初也專研各種法式蛋糕、點心。
                                期望真誠對待每一位顧客，讓消費者品嚐美食，同時吃得安心、吃得健康，秉持「初心」理念經營，負擔社會責任。

                                <br /><br />
                                不忘初心，善得始終。
                            </h5>
                        </p>
                        <!-- row-->
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-6">
                                <div class="mt-35">
                                    <img src="tpl/zst_GF/images/contactUs/line-qrcode.png" alt="" style="max-width: 10vh">
                                    <p>LINE ID：<span style="color: #C5A572;">@@wanna.eat</span></p>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-6">
                                <div class="featured-icon-box without-icon style2 mt-35">
                                    <div class="featured-content text-left">
                                        <!-- featured-content -->
                                        <div class="featured-desc">
                                            <!-- featured-desc -->
                                            <p class="mb-0">Ask Me Anything</p>
                                        </div>
                                        <div class="featured-title">
                                            <!-- featured-title -->
                                            <h5 class="font-w-500">＋886 (03) 288 - 8759</h5>
                                            <!--<p class="h6">
                                                <a href="mailto:very.wanna.eat@gmail.com" target="_blank" style="color: #C5A572;">very.wanna.eat@@gmail.com</a>
                                            </p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- row end-->
                        <hr class="mt-35">
                        <!-- row-->
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-4">
                                <div class="ttm-fid inside ttm-fid-view-lefticon style1 mb-0">
                                    <div class="ttm-fid-left">
                                        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                            <!--<i class="flaticon flaticon-cutlery"></i>-->
                                            <i class="ti ti-email"></i>
                                        </div>
                                        <div class="ttm-fid-contents text-left">

                                            <h4 class="ttm-fid-inner">
                                                <span>Email</span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><a href="mailto:very.wanna.eat@@gmail.com" target="_blank">very.wanna.eat@@gmail.com</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end-->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="mt-60 res-991-mt-90">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper position-relative">
                            <img class="img-fluid" src="tpl/zst_GF/images/Logo/logo-renee.jpg" alt="" style="max-width: 36vh;">
                        </div><!-- ttm_single_image-wrapper end -->
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper overlay-style1">
                            <img class="img-fluid" src="tpl/zst_GF/images/Logo/logo-golden-food.png" alt="" style="max-width: 14vh;">
                        </div><!-- ttm_single_image-wrapper end -->
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--about-section end-->
    <!-- tab-text-section -->
    <section class="ttm-row tab-text-section ttm-bgcolor-grey clearfix">
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="section-title text-center clearfix">
                        <div class="title-header">
                            <!--<h5>好饗初食品工廠</h5>-->
                            <h4 style="color: #C5A572"><b>好饗初美味食品工廠</b></h4>
                            <h2 class="title">OEM、ODM 製造流程</h2>
                        </div>
                        <div class="heading-seperator">
                            <span></span>
                        </div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!-- tab-text-section end -->
    <!-- menu-tab-section -->
    <section class="ttm-row menu-tab-section-style2 ttm-bgimage-yes ttm-bgcolor-darkgrey bg-img7 ttm-bg clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-lg-12">
                    <div class="ttm-tabs ttm-tab-style-classic style2 mt_250">
                        <div class="content-tab w-100 ttm-bgcolor-white">
                            <!-- content-tab -->
                            <!-- content-inner -->
                            <div class="content-inner">
                                <!-- row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Step 01 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <!--<i class="fas fa-comments fa-4x" style="color: #C5A572"></i>-->
                                                        <i class="far fa-comments fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>1. 評估客戶需求</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                提供專業代工服務，產品分為 3 大類：
                                                                <br />•&ensp;廠內公版產品
                                                                <br />•&ensp;客製化產品
                                                                <br />•&ensp;客供料客製化產品
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$50.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 02 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <i class="fas fa-gift fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>2. 提供樣品</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                依需求提供打樣服務，分為 3 大類：
                                                                <br />•&ensp;廠內公版產品
                                                                <br />•&ensp;客戶指定配方打樣
                                                                <br />•&ensp;客供料客製化研發配方
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$50.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 03 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <i class="fas fa-comments-dollar fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>3. 酌收打樣費用</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                告知客戶酌收打樣費細節
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$45.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 04 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <i class="fas fa-cookie-bite fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>4. 口味確認</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                客戶試吃樣品後，確認口味與配方。
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$70.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Step 05 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <i class="fas fa-gifts fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>5. 包裝確認</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                客戶提供銷售通路，好饗初提供專業建議與最佳包裝方式。
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$60.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 06 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <i class="fas fa-list-ol fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>6. 產品數量確認</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                確認初步產品預估訂購量與交貨方式
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$33.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 07 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <!--<i class="fas fa-file-signature fa-4x" style="color: #C5A572"></i>-->
                                                        <i class="fas fa-file-invoice-dollar fa-4x" style="color: #C5A572"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>7. 提供正式報價</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                依配方與產品預估訂購量，提供客戶報價單並簽訂正式合約。
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$40.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Step 08 -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image" style="min-height: 16vh;">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="featured-thumbnail d-flex justify-content-center">
                                                        <!-- featured-image -->
                                                        <!--<img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">-->
                                                        <!--<i class="fas fa-shipping-fast fa-4x" style="color: #C5A572"></i>-->
                                                        <i class="fas fa-sitemap fa-4x" style="color: #C5A572"></i>
                                                        <!--<i class="fas fa-network-wired fa-4x" style="color: #C5A572"></i>
                                                        <i class="fas fa-bezier-curve fa-4x" style="color: #C5A572"></i>
                                                        <i class="fas fa-project-diagram fa-4x" style="color: #C5A572"></i>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="featured-content">
                                                        <!-- featured-content -->
                                                        <div class="featured-title">
                                                            <h5><b>8. 進行量產</b></h5>
                                                        </div>
                                                        <div class="featured-desc">
                                                            <p class="h5">
                                                                雙方溝通備貨天數，並於產品備貨起始日前 7-15 個工作日，提供訂購單予客戶。
                                                            </p>
                                                        </div>
                                                        <!--<div class="ttm-dish-price">
                                                            <span>$70.00</span>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <!-- content-inner -->
                            <div class="content-inner">
                                <div class="row">
                                    <!-- row -->
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Italian Source Mushroom</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Mushrooms, Ruccola,Popodoro Mozzarella,Olives</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$50.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Salmon Tataki Carpaccio</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Ruccola, Roasted Garlic Bread Cheese,Peppers </p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$50.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Corn Chestnut Dim-summ</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Garlic, Honey bean, Cheesee Pepper,Canola Oil</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$45.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Aasparagus Oshinko Maki</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Mozzarella, Potatoes, Canola Olive LemonSlices, Onion</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$70.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Italian Source Mushroom</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Mushrooms, Ruccola,Popodoro Mozzarella,Olives</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$60.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Shitake Mushroom Maaki</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Mushrooms, Ruccola,Popodoro Mozzarella,Olives</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$33.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Hanabii Fire Cracker Roll</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Mushrooms, Ruccola,Popodoro Mozzarella,Olives</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$40.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row no-gutters featured-imagebox featured-imagebox-menu left-image">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="featured-thumbnail">
                                                    <!-- featured-image -->
                                                    <img class="img-fluid" src="https://via.placeholder.com/550X345/444444.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="featured-content">
                                                    <!-- featured-content -->
                                                    <div class="featured-title">
                                                        <h5>Italian Grilled Chicken</h5>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Chicken, Onions, Poodoro Oil CreamBread, Ginger</p>
                                                    </div>
                                                    <div class="ttm-dish-price">
                                                        <span>$70.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- row end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end-->
        </div>
    </section>

    <section class="ttm-row book-table-section bg-img10 ttm-bg ttm-bgimage-yes ttm-bgcolor-grey clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <!-- row -->
            <div class="row align-items-center no-gutters">
                <div class="col-md-12">
                    <!-- ttm_single_image-wrapper -->
                    <div class="ttm_single_image-wrapper position-relative">
                        <!--<img class="img-fluid" src="https://via.placeholder.com/617X696/444444.png" alt="">-->
                        @*<img class="img-fluid" src="/tpl/zst_GF/images/bg-image/business-philosophy.jpg" alt="">*@
                        @*<h5>Model.Value("banner"): @Model.Value("banner")</h5>*@
                        @{
                            // Model.Value<MediaWithCrops>("Doc Type Alias Name");
                            var image = Model.Value<MediaWithCrops>("Home_Banner");
                            if (image != null)
                            {   // Extract MediaUrl() from the image
                                <img class="img-fluid" src="@image.MediaUrl()" alt="Home_Banner">
                            }
                        }
                    </div><!-- ttm_single_image-wrapper end -->
                </div>
            </div><!-- row END-->
        </div>
    </section>

    <section class="ttm-row blog-last-section clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 col-xl-10 col-md-9">
                    <!-- section-title -->
                    <div class="section-title style2 clearfix">
                        <div class="">
                            <p class="h4" style="color: #C5A572;"><b>每月研發與測試近 20 款產品</b></p>
                            <h2 class="title">產品開發</h2>
                        </div>
                        <!--<div class="title-desc">每月研發與測試近 20 款產品</div>-->
                    </div><!-- section-title end -->
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="blog-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                    <!-- featured-imagebox-blog -->
                    <div class="featured-imagebox featured-imagebox-blog">
                        <div class="featured-thumbnail">
                            <!-- featured-thumbnail -->
                            <img class="img-fluid" src="tpl\zst_GF\images\frenchCuisine\FrenchCuisine-01.jpg" alt="">
                            <!--<div class="ttm-blog-text"><span>Events</span></div>-->
                        </div>
                        <div class="featured-content ttm-bgcolor-white box-shadow">
                            <!-- featured-content -->
                            <div class="post-meta">
                                <!-- post-date -->
                                <!--<span class="ttm-meta-line">June 16, 2019</span>-->
                            </div>
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5><a href="single-blog.html">程式自動選取產品-01</a></h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <!--<p>An excessive amount of soy sauce can overpower the taste of Japanese cuisine. It can be co...</p>-->
                            </div>
                            <!--<a class="ttm-btn btn-inline ttm-btn-color-skincolor" href="#">Read More</a>-->
                        </div>
                    </div><!-- featured-imagebox-dishes end -->
                    <!-- featured-imagebox-blog -->
                    <div class="featured-imagebox featured-imagebox-blog">
                        <div class="featured-thumbnail">
                            <!-- featured-thumbnail -->
                            <img class="img-fluid" src="tpl\zst_GF\images\frenchCuisine\FrenchCuisine-02.jpg" alt="">
                            <!--<div class="ttm-blog-text"><span>Food Lover</span></div>-->
                        </div>
                        <div class="featured-content ttm-bgcolor-white box-shadow">
                            <!-- featured-content -->
                            <div class="post-meta">
                                <!-- post-date -->
                                <!--<span class="ttm-meta-line">dec 15, 2019</span>-->
                            </div>
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5><a href="single-blog.html">程式自動選取產品-02</a></h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <!--<p>An excessive amount of soy sauce can overpower the taste of Japanese cuisine. It can be co...</p>-->
                            </div>
                            <!--<a class="ttm-btn btn-inline ttm-btn-color-skincolor" href="#">Read More</a>-->
                        </div>
                    </div><!-- featured-imagebox-dishes end -->
                    <!-- featured-imagebox-blog -->
                    <div class="featured-imagebox featured-imagebox-blog">
                        <div class="featured-thumbnail">
                            <!-- featured-thumbnail -->
                            <img class="img-fluid" src="tpl\zst_GF\images\frenchCuisine\FrenchCuisine-03.jpg" alt="">
                            <!--<div class="ttm-blog-text"><span>Food lover</span></div>-->
                        </div>
                        <div class="featured-content ttm-bgcolor-white box-shadow">
                            <!-- featured-content -->
                            <div class="post-meta">
                                <!-- post-date -->
                                <!--<span class="ttm-meta-line">dec 10, 2019</span>-->
                            </div>
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5><a href="single-blog.html">程式自動選取產品-03</a></h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <!--<p>An excessive amount of soy sauce can overpower the taste of Japanese cuisine. It can be co...</p>-->
                            </div>
                            <!--<a class="ttm-btn btn-inline ttm-btn-color-skincolor" href="#">Read More</a>-->
                        </div>
                    </div><!-- featured-imagebox-dishes end -->
                    <!-- featured-imagebox-blog -->
                    <div class="featured-imagebox featured-imagebox-blog">
                        <div class="featured-thumbnail">
                            <!-- featured-thumbnail -->
                            <img class="img-fluid" src="tpl\zst_GF\images\frenchCuisine\FrenchCuisine-04.jpg" alt="">
                            <!--<div class="ttm-blog-text"><span>Culinary Traveller</span></div>-->
                        </div>
                        <div class="featured-content ttm-bgcolor-white box-shadow">
                            <!-- featured-content -->
                            <div class="post-meta">
                                <!-- post-date -->
                                <!--<span class="ttm-meta-line">may 30, 2019</span>-->
                            </div>
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5><a href="single-blog.html">程式自動選取產品-04</a></h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <!--<p>An excessive amount of soy sauce can overpower the taste of Japanese cuisine. It can be co...</p>-->
                            </div>
                            <!--<a class="ttm-btn btn-inline ttm-btn-color-skincolor" href="#">Read More</a>-->
                        </div>
                    </div><!-- featured-imagebox-dishes end -->
                    <!-- featured-imagebox-blog -->
                    <div class="featured-imagebox featured-imagebox-blog">
                        <div class="featured-thumbnail">
                            <!-- featured-thumbnail -->
                            <img class="img-fluid" src="tpl\zst_GF\images\frenchCuisine\FrenchCuisine-05.jpg" alt="">
                            <!--<div class="ttm-blog-text"><span>Miscellaneous</span></div>-->
                        </div>
                        <div class="featured-content ttm-bgcolor-white box-shadow">
                            <!-- featured-content -->
                            <div class="post-meta">
                                <!-- post-date -->
                                <!--<span class="ttm-meta-line">June 12, 2019</span>-->
                            </div>
                            <div class="featured-title">
                                <!-- featured-title -->
                                <h5><a href="single-blog.html">程式自動選取產品-05</a></h5>
                            </div>
                            <div class="featured-desc">
                                <!-- featured-desc -->
                                <!--<p>An excessive amount of soy sauce can overpower the taste of Japanese cuisine. It can be co...</p>-->
                            </div>
                            <!--<a class="ttm-btn btn-inline ttm-btn-color-skincolor" href="#">Read More</a>-->
                        </div>
                    </div><!-- featured-imagebox-dishes end -->
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial-section -->
    <section class="ttm-row ttm-bg testimonial-section-style2 ttm-bgimage-yes ttm-bgcolor-darkgrey bg-img9 clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="section-title text-center clearfix">
                        <div class="title-header">
                            <!--<h5>成為品牌與企業長期合作夥伴</h5>-->
                            <p class="h4" style="color:#C5A572;">成為品牌與企業的長期合作夥伴</p>
                            <h2 class="title">企業客戶評論</h2>
                        </div>
                        <div class="heading-seperator">
                            <span></span>
                        </div>
                    </div><!-- section title end -->
                </div>
            </div>
            <!-- row end -->
            <!-- row -->
            <div class="row">
                <div class="testimonial-slide2 owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                    <div class="testimonials style2 ttm-bgcolor-white">
                        <div class="testimonial-content">
                            <!-- testimonial-content -->
                            <div class="testimonial-img d-inline-block">
                                <!-- testimonial-img -->
                                <img class="img-fluid box-shadow" src="https://via.placeholder.com/150X150/444444.jpg" alt="testimonial-img">
                            </div>
                            <div class="testimonial-avatar d-inline-block">
                                <div class="testimonial-caption">
                                    <h5>企業客戶評論-01</h5><!-- testimonial-caption -->
                                    <div class="ttm-ratting-star">
                                        <!-- ratting-star -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-text -->
                            <blockquote class="testimonial-text">用料天然健康</blockquote>

                        </div>
                    </div>
                    <div class="testimonials style2 ttm-bgcolor-white">
                        <div class="testimonial-content">
                            <!-- testimonial-content -->
                            <div class="testimonial-img d-inline-block">
                                <!-- testimonial-img -->
                                <img class="img-fluid box-shadow" src="https://via.placeholder.com/150X150/444444.jpg" alt="testimonial-img">
                            </div>
                            <div class="testimonial-avatar d-inline-block">
                                <div class="testimonial-caption">
                                    <h5>企業客戶評論-02</h5><!-- testimonial-caption -->
                                    <div class="ttm-ratting-star">
                                        <!-- ratting-star -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-text -->
                            <blockquote class="testimonial-text">搭配品牌發展，研發創新產品</blockquote>
                        </div>
                    </div>
                    <div class="testimonials style2 ttm-bgcolor-white">
                        <div class="testimonial-content">
                            <!-- testimonial-content -->
                            <div class="testimonial-img d-inline-block">
                                <!-- testimonial-img -->
                                <img class="img-fluid box-shadow" src="https://via.placeholder.com/150X150/444444.jpg" alt="testimonial-img">
                            </div>
                            <div class="testimonial-avatar d-inline-block">
                                <div class="testimonial-caption">
                                    <h5>企業客戶評論-03</h5><!-- testimonial-caption -->
                                    <div class="ttm-ratting-star">
                                        <!-- ratting-star -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-text -->
                            <blockquote class="testimonial-text">食品工廠環境與衛生控管嚴格</blockquote>
                        </div>
                    </div>
                    <div class="testimonials style2 ttm-bgcolor-white">
                        <div class="testimonial-content">
                            <!-- testimonial-content -->
                            <div class="testimonial-img d-inline-block">
                                <!-- testimonial-img -->
                                <img class="img-fluid box-shadow" src="https://via.placeholder.com/150X150/444444.jpg" alt="testimonial-img">
                            </div>
                            <div class="testimonial-avatar d-inline-block">
                                <div class="testimonial-caption">
                                    <h5>企業客戶評論-04</h5><!-- testimonial-caption -->
                                    <div class="ttm-ratting-star">
                                        <!-- ratting-star -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-text -->
                            <blockquote class="testimonial-text">打樣費可折抵訂單費，價格划算</blockquote>
                        </div>
                    </div>
                    <div class="testimonials style2 ttm-bgcolor-white">
                        <div class="testimonial-content">
                            <!-- testimonial-content -->
                            <div class="testimonial-img d-inline-block">
                                <!-- testimonial-img -->
                                <img class="img-fluid box-shadow" src="https://via.placeholder.com/150X150/444444.jpg" alt="testimonial-img">
                            </div>
                            <div class="testimonial-avatar d-inline-block">
                                <div class="testimonial-caption">
                                    <h5>企業客戶評論-05</h5><!-- testimonial-caption -->
                                    <div class="ttm-ratting-star">
                                        <!-- ratting-star -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-text -->
                            <blockquote class="testimonial-text">剛建立新品牌和產品線，協助我們 1 年內業績成長 200%</blockquote>
                        </div>
                    </div>
                </div>
            </div><!-- row end-->
        </div>
    </section>
</div><!--site-main end-->
