@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Template001_Zester.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="@Umbraco.GetDictionaryValue("Company_Name")" />
<meta name="description" content="@Umbraco.GetDictionaryValue("Company_Name") - Restaurant and Cafe" />
<meta name="author" content="https://www.themetechmount.com/" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>@Umbraco.GetDictionaryValue("Company_Name")</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="/tpl/zst/images/favicon.png" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\bootstrap.min.css"/>

<!-- animate -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\animate.css"/>

<link rel="stylesheet" type="text/css" href="\tpl\zst\css\animate.min.css"/>


<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\owl.carousel.css">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\font-awesome.css"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\themify-icons.css"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\flaticon.css"/>

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\prettyPhoto.css">

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\shortcodes.css"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\main.css"/>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="\tpl\zst\css\responsive.css"/>



</head>

<body>

    <!--page start-->
    <div class="page">
        
        <!--header start-->
        <header id="masthead" class="header ttm-header-style-01">
            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w ttm-bgcolor-darkgrey clearfix">
                    @await Html.PartialAsync("Template001_Zester/menu/_MenuPartial")
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
        </header>
        <!--header end-->

        <!--site-main Start-->
        @RenderBody()
        <!--site-main end-->

        <!--footer start-->
        @await Html.PartialAsync("Template001_Zester/footer/_FooterPartial")
        <!--footer end-->

        <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--back-to-top end-->

</div><!-- page end -->

    <!-- Javascript -->

    <script src="/tpl/zst/js/jquery.min.js"></script>
    <script src="/tpl/zst/js/tether.min.js"></script>
    <script src="/tpl/zst/js/bootstrap.min.js"></script>
    <script src="/tpl/zst/js/jquery.easing.js"></script>
    <script src="/tpl/zst/js/jquery-waypoints.js"></script>    
    <script src="/tpl/zst/js/jquery-validate.js"></script> 
    <script src="/tpl/zst/js/owl.carousel.js"></script>
    <script src="/tpl/zst/js/jquery.prettyPhoto.js"></script>
    <script src="/tpl/zst/js/numinate.min.js?ver=4.9.3"></script>
    <script src="/tpl/zst/js/main.js"></script>

    <!-- Javascript end-->


<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="c73bd190f6f142dfbe4297442296a0bb"data-requestMappingFromServer="false" data-connectUrl="http://localhost:50940/7e66afbd1d0d4371b03bac9ba607685c/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>
</html>
