    /*
    Flaticon icon font: Flaticon
    Creation date: 30/04/2019 07:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cooking:before { content: "\f100"; }
.flaticon-champagne-glass:before { content: "\f101"; }
.flaticon-fork:before { content: "\f102"; }
.flaticon-dish:before { content: "\f103"; }
.flaticon-coffee-cup:before { content: "\f104"; }
.flaticon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle:before { content: "\f105"; }
.flaticon-coffee-cup-1:before { content: "\f106"; }
.flaticon-hamburger:before { content: "\f107"; }
.flaticon-serving-dish:before { content: "\f108"; }
.flaticon-cheers:before { content: "\f109"; }
.flaticon-fast-food:before { content: "\f10a"; }
.flaticon-fish:before { content: "\f10b"; }
.flaticon-menu:before { content: "\f10c"; }
.flaticon-fruit:before { content: "\f10d"; }
.flaticon-cocktail:before { content: "\f10e"; }
.flaticon-cutlery:before { content: "\f10f"; }
.flaticon-guitar:before { content: "\f110"; }
.flaticon-easter-egg:before { content: "\f111"; }
.flaticon-chef:before { content: "\f112"; }
.flaticon-tray:before { content: "\f113"; }
.flaticon-birthday-cake:before { content: "\f114"; }
.flaticon-restaurant:before { content: "\f115"; }
.flaticon-cheers-1:before { content: "\f116"; }
.flaticon-restaurant-1:before { content: "\f117"; }
.flaticon-chef-1:before { content: "\f118"; }
.flaticon-chair:before { content: "\f119"; }
.flaticon-pizza:before { content: "\f11a"; }
.flaticon-sandwich:before { content: "\f11b"; }
.flaticon-fish-1:before { content: "\f11c"; }
.flaticon-dessert:before { content: "\f11d"; }
.flaticon-beer:before { content: "\f11e"; }
.flaticon-dish-1:before { content: "\f11f"; }
.flaticon-open:before { content: "\f120"; }
.flaticon-chicken:before { content: "\f121"; }
.flaticon-chicken-1:before { content: "\f122"; }
.flaticon-order:before { content: "\f123"; }
.flaticon-food:before { content: "\f124"; }
.flaticon-breakfast:before { content: "\f125"; }
.flaticon-lemon:before { content: "\f126"; }
.flaticon-dinner:before { content: "\f127"; }
.flaticon-turkey:before { content: "\f128"; }
.flaticon-dinner-1:before { content: "\f129"; }
.flaticon-plate:before { content: "\f12a"; }
.flaticon-dinner-2:before { content: "\f12b"; }
.flaticon-dinner-3:before { content: "\f12c"; }
.flaticon-fast-food-1:before { content: "\f12d"; }
.flaticon-burger:before { content: "\f12e"; }
.flaticon-burguer:before { content: "\f12f"; }
.flaticon-popcorn:before { content: "\f130"; }
.flaticon-macarons:before { content: "\f131"; }
.flaticon-ice-cream:before { content: "\f132"; }
.flaticon-icecream:before { content: "\f133"; }
.flaticon-cooking-1:before { content: "\f134"; }
.flaticon-cooking-2:before { content: "\f135"; }
.flaticon-frying-pan:before { content: "\f136"; }
.flaticon-fried-egg:before { content: "\f137"; }
    
    $font-Flaticon-cooking: "\f100";
    $font-Flaticon-champagne-glass: "\f101";
    $font-Flaticon-fork: "\f102";
    $font-Flaticon-dish: "\f103";
    $font-Flaticon-coffee-cup: "\f104";
    $font-Flaticon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle: "\f105";
    $font-Flaticon-coffee-cup-1: "\f106";
    $font-Flaticon-hamburger: "\f107";
    $font-Flaticon-serving-dish: "\f108";
    $font-Flaticon-cheers: "\f109";
    $font-Flaticon-fast-food: "\f10a";
    $font-Flaticon-fish: "\f10b";
    $font-Flaticon-menu: "\f10c";
    $font-Flaticon-fruit: "\f10d";
    $font-Flaticon-cocktail: "\f10e";
    $font-Flaticon-cutlery: "\f10f";
    $font-Flaticon-guitar: "\f110";
    $font-Flaticon-easter-egg: "\f111";
    $font-Flaticon-chef: "\f112";
    $font-Flaticon-tray: "\f113";
    $font-Flaticon-birthday-cake: "\f114";
    $font-Flaticon-restaurant: "\f115";
    $font-Flaticon-cheers-1: "\f116";
    $font-Flaticon-restaurant-1: "\f117";
    $font-Flaticon-chef-1: "\f118";
    $font-Flaticon-chair: "\f119";
    $font-Flaticon-pizza: "\f11a";
    $font-Flaticon-sandwich: "\f11b";
    $font-Flaticon-fish-1: "\f11c";
    $font-Flaticon-dessert: "\f11d";
    $font-Flaticon-beer: "\f11e";
    $font-Flaticon-dish-1: "\f11f";
    $font-Flaticon-open: "\f120";
    $font-Flaticon-chicken: "\f121";
    $font-Flaticon-chicken-1: "\f122";
    $font-Flaticon-order: "\f123";
    $font-Flaticon-food: "\f124";
    $font-Flaticon-breakfast: "\f125";
    $font-Flaticon-lemon: "\f126";
    $font-Flaticon-dinner: "\f127";
    $font-Flaticon-turkey: "\f128";
    $font-Flaticon-dinner-1: "\f129";
    $font-Flaticon-plate: "\f12a";
    $font-Flaticon-dinner-2: "\f12b";
    $font-Flaticon-dinner-3: "\f12c";
    $font-Flaticon-fast-food-1: "\f12d";
    $font-Flaticon-burger: "\f12e";
    $font-Flaticon-burguer: "\f12f";
    $font-Flaticon-popcorn: "\f130";
    $font-Flaticon-macarons: "\f131";
    $font-Flaticon-ice-cream: "\f132";
    $font-Flaticon-icecream: "\f133";
    $font-Flaticon-cooking-1: "\f134";
    $font-Flaticon-cooking-2: "\f135";
    $font-Flaticon-frying-pan: "\f136";
    $font-Flaticon-fried-egg: "\f137";